li {
  list-style:none;
  padding-left: 1rem;
}
.all {
  display: grid;
  grid-template-columns: 1fr 5fr
}
.main-content {
  display: grid;
  justify-content: center;
  grid-template-columns: 5% repeat(6, 1fr) 5%;
  grid-gap: 20px;
}

.title {
  grid-column: 2 / span 2;
}