//Typo
$display-20: 3.87rem; //36px
$title-30: 1.29rem;   //22px
$title-20: 1rem;      //17px
$title-10: 0.87rem;   //15px
$body-30: 1.29rem;    //22px
$body-20: 1rem;       //17px
$body-10: 0.87rem;    //15px
$caption-30: 0.87rem; //15px
$caption-20: 0.75rem; //13px

// Font Weight
$normal: 400;
$medium: 500;
$bold: 700;
$light: 300;
$extra-light: 200;

//color
$black: #000000;
$white: #ffffff;
$grey-90: #0c0c0d;
$grey-50: #737373;
$grey-10: #f9f9fa;


body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 17px;
  line-height: 1.35;
  font-weight: $normal;
}

h1 {
  font-size: $display-20;
  font-weight: $extra-light;
  color: $grey-90;
}
